{
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["blockchain/hardhat.config.ts"],
      "globals": { "task": true }
    }
  ],
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/quotes": "off",
    "eslint-disable-next-line": "off",
    "react/function-component-definition": "off",
    "object-curly-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-one-expression-per-line": "off",
    "typescript-eslint/comma-dangle": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
