{
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["blockchain/hardhat.config.ts"],
      "globals": { "task": true }
    }
  ],
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": "off"
  }
}
